@font-face {
    font-family: "Bebas";
    src: url(./assets/BebasNeue-Regular.ttf);
}

body{
    background: #232323;
    
}

p{
  margin-bottom: 50px;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

video {
  position: fixed;
  top: -300px;
  left: -350px;
  transform: rotate(2deg);
  min-width: 150%;
  min-height: 150%;
  object-fit: cover;
  z-index: -1;

  filter: blur(8px);
  opacity: 0.2;
}

body{
    font-family: "Bebas";
    text-align: center;
    color: white;
    background: #000;
    margin: 30px 200px;
    font-size: 33px;
}


body img{
    border-radius: 200px;
    border: solid 4px white;
}

#pEnd{
  font-size: 20px;
  margin-bottom: 25px;
  padding-bottom: 30px;
}

#pFinal, #pSecond, #pFirst{
  opacity: 0;
  transition: 0.25s;
}

.highOpacity{
  opacity: 1;
  transition: 0.25s;
}

.menuButton{
    font-size: 50px;
    position: fixed;
    top: 0;
    left: 10px;
    transition: 0.2s;
}

.menuButtonHover{
    font-size: 60px;
    position: fixed;
    top: 0;
    left: 10px;
    transition: 0.2;
    cursor: pointer;
}

.sideMenu {
  position: fixed;
  top: 0;
  left: -100px;
  width: 70px;
  height: 100%;
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  transition: 0.2s ease;
  z-index: 2;
}

.sideMenu a {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin: 30px 0;
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.2s, transform 0.2s;
}

.sideMenu a:hover {
  color: #bbbbbb;
  transform: rotate(180deg) scale(1.1);
  cursor: pointer;
}

@media screen and (max-width: 750px) {
    body{
        margin: 50px;
        
    }

    video{
        left: -700px;
        min-width: 50px;
        max-width: 1850px;
    }
}